<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form.as_p}}

    <button type="submit"> SALVAR</button>
    <a href="{% url 'url_delete' transacao.id %}"> Deletar item </a>
</form>

</body>
</html>