<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listagem</title>
</head>
<body>
<h2>Listagem</h2>

<ul>
{% for transacao in transacoes %}
    <li><a href="{% url 'url_update' transacao.id %}">{{transacao}} - {{transacao.data}} - {{transacao.valor}} -
        {{transacao.categoria}} - {{transacao.observações}}</a></li>
{% endfor%}
</ul>

<a href="{% url 'url_nova'%}">Back to form</a>
</body>
</html>